body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

#App__container {
  height: 1080px;
  width: 1440px;
  min-height: 1080px;
  min-width: 1440px;
  border: 1px solid black;

}